@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #ffffff;
  --foreground: #070707;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: "Cinzel", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
